.navbar-container{
    height: 80px;
   background: rgb(26, 25, 25); 
   display: flex;
   color: white;
   justify-content: space-between;
   position: relative;
   padding: 20px;
   opacity: 0.8;
   
}

.navbar-logo {
   font-weight: 500; 
   font-size: 30px;
   color: white;
   text-decoration: none;
}

.menu-list {
   list-style-type: none; 
   display:flex;
   align-items: center;
    justify-content: space-between;
   color: white;
}


.menu-icon {
  font-size: 2rem; 
  color: white;
  display: none;
}

.fas{
 color: rgb(167, 87, 31);
 font-size: 40px;
 
}

.nav-link {
   text-decoration: none; 
   color: #fff;
   padding: 5px 10px;
   margin-left: 20px;
}

.nav-link:hover{
    background-color: #fff;
border-radius: 1px;
color:black;
transition: all 0.5s ease-in-out;
}

@media screen and (max-width:600px){
   .menu-list{
      flex-direction: column;
      width: 100%;
      position: absolute;
      background-color: rgb(36, 34, 34);
      padding: 30px;
      right: 0;
      top: 65px;
   }
   .navbar-logo{
     font-size: 20px;
   }
   .menu-icon{
     display:flex;
     color: #fff; 
   }
   .menu-icon.fa-times{
     transform: rotate(360deg); 
     transition: all 0.2 ease-in-out;
     cursor: pointer;
     color: #fff;
   }
   .menu-icon.fa-bars{
      transform: rotate(180deg); 
      transition: all 0.2 ease-in-out;
      cursor: pointer;
      color: #fff;
   }
   .fas{
      font-size: 25px;
      
   }
   .menu-item{
      font: size 10px;
      margin-left: 10px;
      margin: 5px;
      margin-bottom: 0px;
      text-align: center;
   }
 
}


   


